
.centerPanel{
	-fx-border-color:#b6b6b6;
	-fx-border-radius:5;
	-fx-border-width:1;
}
.selectPanel{
	-fx-border-color:#b6b6b6;
	-fx-border-width:1 0 1 0;
}
.overLinePanel{
	-fx-border-color:#b6b6b6;
	-fx-border-width:1 0 0 0;
}
.underLinePanel{
	-fx-border-color:#b6b6b6;
	-fx-border-width:0 0 1 0;
}
.statePanel{
	-fx-border-color:#b6b6b6;
	-fx-border-width:1;
}
.blackStatePanel{
	-fx-border-color:black;
	-fx-border-width:1;
}
.whiteLabel{
	-fx-background-color: white ;
}
.toolbar{
	-fx-background-image:url("toolbar.jpg");
}
.menuBtn1{
	-fx-background-image:url("linshirenwu.png");
	-fx-background-size:auto;
	-fx-background-radius: 0px;
}
.menuBtn2{
	-fx-background-image:url("shebeidengji.png");
	-fx-background-size:stretch;
	-fx-background-radius: 0px;
}
.menuBtn3{
	-fx-background-image:url("tongdaohaoshezhi.png");
	-fx-background-size:stretch;
	-fx-background-radius: 0px;
}
.menuBtn4{
	-fx-background-image:url("shebeijiandingxinxi.png");
	-fx-background-size:auto ;
	-fx-background-radius: 0px;
}
.menuBtn5{
	-fx-background-image:url("xiugaimima.png");
	-fx-background-size:stretch;
	-fx-background-radius: 0px;
}
.menuBtn6{
	-fx-background-image:url("tuichu.png");
	-fx-background-size:stretch;
	-fx-background-radius: 0px;
}
.refresh{
	-fx-background-image:url("refresh.png");
	-fx-background-size:stretch;
	-fx-background-radius: 0px;
}
.refresh:hover{
	-fx-background-image:url("refresh1.png");
}
.refresh:active{
	-fx-background-image:url("refresh.png");
}

.bg{
	-fx-background-image:url("login.jpg");
	-fx-background-size:auto ;
	-fx-background-radius: 0px;
}

/**TableView样式 start */
/* .table-cell {
	-fx-alignment: CENTER-RIGHT;
}表格文字居右*/
.table-view {
    -fx-base: azure;
}
.column-header{
	 -fx-border-color: azure;
	 -fx-border-width: 0px 0.0 30px 0 ;
}
 
.column-header-background{
	 -fx-background-color:azure;
}
.column-header-background .column-header{
	-fx-background-color:#b6b6b6;
}
.table-row-cell:empty{
	-fx-background-color:#f2f2f2;
}
.table-row-cell:empty .table-cell{
	-fx-border-width:0.0px ;
}
.table-row-cell:selected{
	-fx-background-color:#0092DC;
}



/**
 * 
.table-cell{
	-fx-alignment: center;
}
 */
/**TableView样式  end */

/**ListView 样式 start 
.list-view .list-cell:filled:selected {
    -fx-background-color: #a4d6ed;
    -fx-text-fill: white;
}
 * */
.list-view .list-cell:selected {
    -fx-background-color: #a4d6ed;
}

/**ListView 样式 end */

/**TabPane 样式  start */
.tab-header-background{
	-fx-background-color:azure ;
}

/**TabPane 样式 end */

/**ComboBox  样式start */
.combo-box-base:editable .text-field, .combo-box-base .arrow-button, .combo-box .list-cell {
    -fx-padding: 0px 6px 0px 6px;
}
.combo-box-base {
    -fx-background-color:white ;
    -fx-border-radius: 3px 3px 3px 3px;
    -fx-border-color:#b6b6b6;
	-fx-border-width:1;

}

.combo-box-base .arrow-button {
   -fx-background-color:white ;
    
}
.combo-box-base:editable {
	-fx-border-width:0;
}
.combo-box-base:editable .arrow-button {
   -fx-background-color:white ;
   -fx-border-radius: 0px 3px 3px 0px;
    -fx-border-color:#b6b6b6;
	-fx-border-width: 1 1 1 0;
}

.combo-box-base .arrow-button:hover{
	-fx-background-color:#dfdfdf;
}
/**ComboBox  样式end */

/**HyperLink 样式 start */
.hyperlink,.hyperlink:visited{
	 -fx-border-width:0;
	 -fx-text-fill: black ;
	 -fx-underline: false ;
	 -fx-font-size: 13px;
}
.hyperlink:hover{
	  -fx-text-fill: red;
	  -fx-underline: true ;
}
/**HyperLink 样式end */

/**TreeView 样式start */
.tree-cell .tree-disclosure-node .arrow {
    -fx-scale-shape: false;

    -fx-background-color: transparent; 
    -fx-shape: "M 0 4 L 0 -4 L 5 0 z";
    -fx-border-color: grey;
    -fx-border-width: 0.083333em;   
}

.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-scale-shape: false;
   
    -fx-background-color: -fx-mark-color;
    -fx-rotate: 0; 
    -fx-shape: "M 0 3 L 6 -3 L 6 3 z";
    -fx-border-width: 0.083333em; 
} 

.tree-cell:filled:hover .tree-disclosure-node .arrow {
    -fx-background-color: transparent;
    -fx-border-color: cyan;
} 

.tree-cell:filled:selected .tree-disclosure-node .arrow {
    -fx-border-color: cyan;
}

.tree-cell:filled:selected:hover .tree-disclosure-node .arrow {
    -fx-border-color: cyan;
}
/**TreeView 样式end */

/**HyperLink 样式 start */
.hyperlink,.hyperlink:visited{
	 -fx-border-width:0;
	 -fx-text-fill: blue ;
	 -fx-underline: true ;
	 -fx-font-size: 13px;
	 -fx-cursor:default;
}
.hyperlink:hover{
	  -fx-text-fill: red;
	  -fx-underline: true ;
	  -fx-cursor:hand;
}
.hyperlink:pressed{
	  -fx-text-fill: red;
	  -fx-underline: true ;
	  -fx-cursor:default;
}
.hyperlink{
	-fx-text-fill: blue;
	-fx-underline: true ;
}
/**HyperLink 样式end */

